:root {
    font-family: 'Roboto', sans-serif;
}
header {
    background-color: black;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
}
nav {
    align-items: center;
    display: flex;
    height: 40px;
}
.logo {
    height: 6vh;
    margin: 2px;
    padding: 8px;
}
.burger {
    height: 4vh;
    position: relative;
    right: 1vh;
    top: 1vh;
}
   
nav ul {
    display: flex;
    gap: 4px; 
} 
li {
    text-decoration: none;
    font-size: small;
    list-style: none;
}
li a {
    color: white;
    text-decoration: none;
    list-style: none;
}
.hero {
    height: 600px;
    background-color: rgb(73, 145, 204);
    color: white;
}
.hero h1 {
    font-size: 50px;
    padding: 130px 20px 20px 15px;
    line-height: 60px;
}
.subtitle {
    font-size: 25px;
    font: bold;
    word-spacing: 5px;
    padding-left: 20px;
    padding-top: 20px;
    line-height: 40px;
}

.verplanes {
    text-transform: uppercase;
    font-weight: bold ;
}

.info {
    font-size: 15px;
    word-break: keep-all;
    padding-left: 20px;
    padding-top: 40px;
    line-height: 20px;
}
.hero div {
    padding-left: 20px;
}
.boton {
    background-color: green;
    border-radius: 20px;
    display: block;
}
div a {
    align-items: center;
    margin-top: 15px;
    color: white;
    text-decoration: none;
    width: 380px;
    height: 50px;
    justify-content: center;
    display: flex;
    margin-top: 20px;
    margin-left: 30px;
}
.title2 {
    display: flex;
}
h2 {
    font-size: 40px;
    margin: 30px 60px;
    text-align: center;
}
.articles {
    margin: 0 15px;
}

.card {
    display: flex;
    margin: 20px 20px;
}
article img {
    width: 80px;
    height: 80px;
}
.foot {
    display: flex;
    justify-content: space-between;
}
footer {
    height: 80px;
    background-color: black;
    display: flex;
}
.footer-2 {
    color: white;
}
.footer-2 .f2 {
    display: inline-block;
}
.footer {
   display: inline;
   position: relative;
   top: 40px;
}
.footer .f {
    display: inline-block;
}
@media (max-width: 480px) {
    nav {
        display: none;
    }
}
@media (min-width: 480px) {
    .burger {
        display: none;
    }
}